<form class="form">
  <h2>Form</h2>
  <div class="wrapper">
    <section *ngFor="let section of fields.title.children; let i = index"
      [ngClass]="getWidthClassName(section.width,section.children.length, i)">
      <h3>{{section.title.en}}</h3>
      <hr>
      <div class="wrapper">
        <div class="text-box" *ngFor="let textBox of section.children; let i = index"
          [ngClass]="getWidthClassName(textBox.width,section.children.length, i)">
          <h2>{{textBox.label.en}}</h2>
          <input type="text" placeholder="535353" />
        </div>
      </div>
    </section>
  </div>
</form>


<!-- ngFor="let item of fields.children.children" -->